* {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

body{
    background-color: #FAFBFD;
}

.header{
    
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
   
}

.logo{
    width: 15vw;
    height: 100%;
    float: left;
    margin-left: 2vw;
}

.gPage{
    width: 100vw;
    height: 100vh;
    background-color: #FAFBFD;
}
.gPage1{
    width: 100vw;
    height: 90vh;
    background-color: #FAFBFD;
}

.wPage{
    width: 100vw;
    height: 100vh;
    background-color: #FFFFFF;
}

li{
    float: left;
    display: block;
    color: rgb(0, 0, 0);
    font-weight: bold;
    float: left;
    padding: 1vw;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

ul{
    margin-left: 35vw;
}

a{
    text-decoration: none;
}

.button{
    background-color: #4285F4;
    width: 6vw;
    height: 5vh;
    border-radius: 5px;
    outline: none;
    border: 0;
    font-family: 'Raleway', sans-serif;
    color: #FCFDFE;
    margin-left: 18vw;
    z-index: 3;
}


.pink_rectangle{
    background-color: #EC5863;
    height: 100%;
    width: 25vw;
    position: absolute;
    right: 0;
    z-index: 1;
    border-radius: 30px 0 0 30px;
    top: 0;
}

.doctor{
    width: 40vw;
    position: absolute;
    right: 8vw;
    top: 20vh;
    z-index: 2;
}

.text{
    font-size: 4vw;
    font-family: 'Rubik', sans-serif;
    margin-left: 3vw;
    margin-top: 20vh;
    position: absolute;
}

.blue_text{
    color: #4285F4;
}

.text1{
    font-size: 1vw;
    font-family: 'Rubik', sans-serif;
    color: #616161;
    font-weight: normal;
    margin-left: 3vw;
}

.text::after{
    content: text1;
}

.play_btn{
    width: 4vw;
    bottom: 5vh;
    left: 3vw;
    position: absolute;
}

.top{
    font-family: 'Rubik', sans-serif;
    font-weight: normal;
    position: absolute;
    bottom: 8.5vh;
    left: 8vw;
    font-size: 1.5vw;
    color: #616161;
}

.bottom_txt{
    font-size: 1vw;
    font-family: 'Rubik', sans-serif;
    font-weight: normal;
}

.top::after{
    content: bottom_txt;
}